.header_title {
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  background: linear-gradient(155.58deg, rgba(132, 144, 255, 0.99) -6.95%,
  rgba(118, 162, 254, 0.935099) 36.77%, rgba(117, 164, 254, 0.929698) 41.08%,
  rgba(112, 170, 253, 0.947646) 55.52%, rgba(109, 175, 253, 0.961655) 66.79%,
  rgba(106, 178, 253, 0.970925) 74.24%, rgba(100, 186, 252, 0.99339) 92.32%,
  #63BCFC 97.63%, #63BCFC 97.64%, #62BDFC 100%, #62BDFC 100%);
}
.header_title h1 {
  text-align: center;
  font-size: 28px;
  margin: 0;
}
.about_slid_hero {
  width: 100%;
  height: 500px;
}
.about_detail {
    font-family:'Roboto', sans-serif ,"Montserrat";
}
.about {
  height: 400px !important;
}
 .about_slid .container {
  display: flex;
}
.about_slid .md-1 {
  width: 40%;
}
.about_slid .md-2 {
  width: 60%;
}
.about_slid_hero {
  height: 100%;
}
@media only screen and (max-width: 768px){
  .about {
    height: 500px !important;
  }
  .about_slid .container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .about_slid .md-1 {
    width: 80%;
    display: flex;
    justify-content: space-between;
  }
    .about_slid .md-1 h4,
    .about_slid .md-1 h3,
    .about_slid .md-1 p {
      margin: 0;
    }
  .about_slid .md-2 {
    width: 80%;
  }
  .about_detail .container {
    display: flex;
    justify-content: center;
  }
  .about_detail .container {
    width: 80%;
  }

}
