html,body {
  margin: 0 auto;
  padding: 0;
  font-family:'Roboto', sans-serif ,"Montserrat";
  overflow-x: hidden;
}
* {
  box-sizing: border-box
}
#root {
  background-color: #FFFFFF;
  height: 100%;
}
.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}
.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}