html,body {
  margin: 0 auto;
  padding: 0;
  font-family:'Roboto', sans-serif ,"Montserrat";
}
#root {
  background-color: #FFFFFF;
}
.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.home_header{
  width: 100%;
  background-color: #FFFFFF;
  min-height: 595px;
}
.outer-container {
  min-height: 595px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
}
