
.Navbar {
  display: flex;
  align-items: center;
  width: 100%;
  height: 53px;
  background-color: #000000;
  color: #fff;
  font-family:'Roboto', sans-serif ,"Montserrat";
  font-size: 14px;
  position: relative;
}
.Navbar_nav {
  display: flex;
  justify-content: space-around;
  width: 50%;
}
.Navbar .container {
  display: flex;
  justify-content: space-between;
}
.Navbar_logo {
  display: flex;
  align-items: center;
}
.Navbar_nav_item span a {
  text-decoration: none;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
}
.Navbar_nav_item_decoration {
  width: 0%;
  height: 1px;
  margin: 0 auto;
  background-color: #fff;
  transition: all 0.3s ease-in;
}
.Navbar_nav_item:hover .Navbar_nav_item_decoration {
  width: 100%;
}
.Navbar_nav .Navbar_nav_item:nth-child(1) span a {
  color: #8490FF !important;
}
.burger_btn {
  display: none;
}
@media only screen and (max-width: 768px) {
  .active {
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 53px;
    z-index: 5;
    background-color: #000;
  }
  .Navbar_nav_item {
    height: 35px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-bottom: 0.5px solid #9E9E9E;
    margin-bottom: 2px;
  }
  .Navbar_nav_item:last-child {
    border-bottom:0;
  }
  .burger_btn {
    display: block;
    margin-right: 8px;
    font-size: 32px;
  }
  .unactive {
    display: none
  }
}
